.about-body {
    height: 100vh;
    background-color: #defaf8;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
}
.about-body-container {
    width: 100%;
    height: 520px;
    display: flex;
    flex-direction: column;
    background-color: #a3e7e395;
    margin-top: 80px;
    align-items: center;
    gap: 40px;
  }

.about-titles {
    font-family: "Mali", cursive;
    color: #004c84;
    margin-top: 40px;
}   

.about-icons {
    display: flex;
    gap: 60px;
}

.about-icon {
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.about-text {
    color: #00847c;
    display: flex;
    flex-direction: column;
    gap: 80px;
    font-size: 28px;
    padding: 0 160px;
    font-family: "Antic", sans-serif;
    text-align: center;
}