.NavbarItems {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    background-color: #defaf8;
    font-family: 'Antic', sans-serif;
    padding: 0 4rem;
}

.navbar-logo {
    color: #004C84;
    justify-self: start;
    cursor: pointer;
    font-size: 52px;
    font-family: 'Antic', sans-serif;
}

a{
    text-decoration: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    width: 40vw;
}

.nav-links {
    color: #004C84;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #004C84;
    padding: 5px 10px;
   
}

.resume-button {
    background-color: #004c84;
    color: white;
    width: 100px;
    border: 1px solid;
    cursor: pointer;
    font-family: "Antic", sans-serif;
    font-size: 20px;
    padding: 5px 10px;
}

.resume-button:hover {
    background-color: #03b6aa;
    border: 2px solid #03b6aa;
    color: #defaf8;
  }

.nav-links:hover {
    color: #03b6aa;
    border-color: #03b6aa;
}